<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false">
  <php>
    <env name="APP_ENV" value="testing"/>
  </php>
</phpunit>

